body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-image: url("images/donation14.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 80px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

#lets-help {
    font-size: 40px;
}

#donate-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.sec-2 {
    text-align: center;

}

.sec-2 div h1 {
    font-size: 50px;
    font-weight: 300;
}

.sec-2>div>p {
    color: rgb(150, 147, 147);
}

.amount-of-money {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.amount-of-money div {
    background-color: rgb(242, 242, 238);
    margin: 10px;
    font: 50px;
    font-weight: 600;
    padding: 20px;
}

#taka-200 {
    background-color: rgb(241, 176, 176);
    border: 2px solid red;
    border-radius: 5px;
    color: red;
}

.input-amount {
    text-align: center;
    border: none;
    margin-bottom: 100px;


}

#other-amount {
    font-size: 20px;

}

.input-amount hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.donate-plan h1 {
    text-align: center;
}

.donate-plan-partition {
    display: flex;
    flex-direction: row;
    margin: 30;
    box-sizing: border-box;
}

.half-third {
    width: 30%;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 100px;

}

#food-color {
    background-color: rgb(214, 236, 244);
}

#shelter-color {
    background-color: rgb(243, 223, 238);
}

#education-color {
    background-color: rgb(244, 234, 242);
}

.single-area {
    margin-inline: auto;
    text-align: center;
    width: 25%;
    border-radius: 20px;
    background-color: gainsboro;
}

.single-area img {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

.container-img {
    position: relative;
}

.flooded-area-section {
    background-color: gainsboro;
    padding-bottom: 150px;
    padding-top: 70px;
}

.planning-next-year {
    margin-top: 100px;
}

.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-img:hover .image {
    opacity: 0.3;
}

.container-img:hover .middle {
    opacity: 1;
}

.text {
    background-color: aqua;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
}

.flex {
    display: flex;
}



.plan-details {
    margin: 0 20px;
}

.plan-details img {
    margin: 9% 20px;
}

.half-width {
    width: 50%;
    text-align: left;
    margin-left: 10%;
}

#email-input {
    height: 66px;
    background-color: rgba(119, 136, 153, 0.388);
    border: none;
    margin: 0;
    padding-right: 0;
    width: 400px;
    padding-left: 20px;
}

#subscribe-btn {
    margin-left: 0;
    border-radius: 0;
    height: 66px;
}

.input-container {
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    border-radius: 20px;
}

.input-container {
    border-radius: 20px;
}

#speacial {
    border: 1px solid gray;
    border-radius: 5px;
    height: 66px;
}

.footer {
    background-color: black;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}