body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-image: url("images/donation14.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 80px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

#lets-help {
    font-size: 40px;
}

#donate-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.sec-2 {
    text-align: center;

}

.sec-2 div h1 {
    font-size: 50px;
    font-weight: 300;
}

.sec-2>div>p {
    color: rgb(150, 147, 147);
}

.amount-of-money {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.amount-of-money div {
    background-color: rgb(242, 242, 238);
    margin: 10px;
    font: 50px;
    font-weight: 600;
    padding: 20px;
}

#taka-200 {
    background-color: rgb(241, 176, 176);
    border: 2px solid red;
    border-radius: 5px;
    color: red;
}

.input-amount {
    text-align: center;
    border: none;
    margin-bottom: 100px;


}

#other-amount {
    font-size: 20px;

}

.input-amount hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.donate-plan h1 {
    text-align: center;
}

.donate-plan-partition {
    display: flex;
    flex-direction: row;
    margin: 30;
    box-sizing: border-box;
}

.half-third {
    width: 30%;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 100px;

}

#food-color {
    background-color: rgb(214, 236, 244);
}

#shelter-color {
    background-color: rgb(243, 223, 238);
}

#education-color {
    background-color: rgb(244, 234, 242);
}